@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


.add-post-form {
    background-color: #fff; /* White background */
    border-radius: 1vmax; /* Rounded corners */
    box-shadow: 0 2vmax 5vmax rgba(0, 0, 0, 0.1); /* Soft shadow */
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-width: 97vmax; /* Maximum width */
    display: flex;
    flex-direction: column;

     margin-left: 9vmax;
}

.form-group {
    margin-bottom: 2vmax; /* Spacing between fields */
}

label {
    display: block; /* Block layout for labels */
    margin-bottom: 0.5vmax; /* Spacing */
    font-weight: bold; /* Bold labels */
}

input[type='text'],
textarea,
select {
    width: 33vmax; /* Full width */
    padding: 1vmax; /* Padding for inputs */
    border: 1px solid #ccc; /* Border color */
    border-radius: 0.5vmax; /* Rounded corners */
    font-size: 1vmax; /* Font size */
}

input[type='file'] {
    border: none; /* No border */
    padding: 1vmax; /* Padding */
    margin: 1vmax 1vmax;
    max-width: 33vmax;
}

.submit-btn {
    background-color: orangered; /* Button color */
    color: white; /* Button text color */
    padding: 1vmax 2vmax; /* Padding */
    border: none; /* No border */
    border-radius: 0.5vmax; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
    font-size: 1.2vmax; /* Font size */
    transition: background-color 0.3s; /* Transition effect */
}

.submit-btn:hover {
    background-color: darkorange; /* Darker color on hover */
}
