.mention-input-container {
  /* For positioning the suggestions */
    width: 90%; /* Full width */
   
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding for the input */
   
    transition: max-height 0.3s ease; /* Smooth transition for height changes */
}

.mention-input {
    align-self: flex-start;
    padding: 8px; /* Padding for better text area appearance */
    border: 1px solid gray; /* Gray border */
    border-radius: 5px; /* Rounded corners */
    font-size: 1.2vmax; /* Max font size */
    color: black; /* Text color */

    outline: none; /* Remove default outline */
}

.user-suggestions {
    position: absolute; /* Positioning below the input */
    top: calc(100% + 5px); /* Position just below the input */
    left: 0;
    right: 0;
    background-color: white; /* White background for suggestions */
    border: 1px solid gray; /* Gray border */
    border-radius: 5px; /* Rounded corners */
    max-height: 300px; /* Set max height for suggestions */
    overflow-y: auto; /* Enable vertical scrolling */
    z-index: 1000; /* Ensure suggestions are above other elements */
    padding: 10px; /* Padding for better spacing */
}

.user-suggestion {
    display: flex;

    align-items: center; /* Center image and text vertically */
    padding: 8px; /* Padding for suggestion items */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover */
    border-radius: 5px; /* Rounded corners */
}

.user-suggestion:hover {
    background-color: rgba(255, 69, 0, 0.2); /* Light shade of orangered on hover */
}

.user-image {
    width: 2.4vmax; /* Set image size */
    height: 2.4vmax; /* Set image size */
    border-radius: 50%; /* Circular image */
    margin-right: 10px; /* Space between image and text 
}

.user-name {
    
    font-size: 1.2vmax; /* Max font size for usernames */
    color: black; /* Text color */
}

/* Loading and error messages */
.error {
    color: red; /* Error text color */
}



@media (max-width: 600px) {
    .mention-input {
        font-size: 3vw; /* Adjust font size for smaller screens */
    }

    .user-suggestions {
        max-height: 150px; /* Reduce max height on small screens */
    }

    .user-image {
        width: 6vw; /* Adjust image size for smaller screens */
        height: 6vw; /* Adjust image size for smaller screens */
    }

    .user-name {
        font-size: 3vw; /* Adjust username size for smaller screens */
    }
}

@media (max-width: 400px) {
    .mention-input {
        font-size: 4vw; /* Further adjust font size for very small screens */
    }

    .user-image {
        width: 8vw; /* Further adjust image size for very small screens */
        height: 8vw; /* Further adjust image size for very small screens */
    }

    .user-name {
        font-size: 4vw; /* Further adjust username size for very small screens */
    }
}