.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1vmax 8vmax;
    
    width: 90%;
    min-height: 44vmax;
}

@media(max-width:600px){
    .content{
        width: 79%;
    }
}

.load{
    display: flex;
    width: 100%;
    
    min-height: 47vmax;
    justify-content: center;
    align-items: center;
    
}


.post-container{
    width: 95%;
    display: flex;
align-items: center;
flex-direction: column;
  
    overflow: auto;
   
}

.post-container li{
    list-style: none;
    border-radius: 2px;
    margin: 3vmax;
    width: 98%;
    min-height: 12vmax;
    border-bottom: 1px solid black;
}