
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;
    overflow: hidden;
    padding: 0%;
    background-color:  white;
    align-items: center;
    height: 5vmax;
    border-bottom: 2.5px solid orangered;
    
}

.container h1{
font-family: "Rubik Mono One";
margin: 0;
padding-left: 2vmax;
font-size: 2.3vmax;
}

.container .ham{
    margin: 0;
    padding-right: 2vmax;

}

.container .ham:hover{
    cursor: pointer;
}

.options{
    width: 100%;
    min-height: 12vmax;
    margin-top:0;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(12, 12, 12);
    overflow-y: auto;
    z-index: 1000;

}

.options ul{
    padding: 0;
    width: 100%;
    margin: 0;
    list-style: none;
}

.options ul li{
    width: 93%;
    list-style: none;
    padding: 1vmax 2vmax ;
    

}

.options ul li a{
text-decoration: none;
display: block;
color: black;
font-family: "Anton SC";
padding: 0.5vh 2vh;
border-radius: 1.2vmax;
font-size: 1.3vmax;
width: 100%;
box-sizing: border-box;
}

.options ul li a:hover{
    cursor: pointer;
    background-color: rgb(247, 88, 39);
    border: 1px solid black;
}